body {
margin-left: 4%;
margin-right: 4%;
}

.edit {
    color: black ;
}
header{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: sans-serif;
}

h2 {
    margin-bottom: 12px;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #7f888f;
}

.panel1{
    display: grid;
    grid-template-columns: 50% 50%;
}

.hr1 {
    background-color: #f56a6a;
    height: 5px;
    border: 0;
}

.button:hover {
    background-color: darkred;
}

.button {
    border-color: #f56a6a;
    padding-bottom: 12px ;
    padding-top: 11px ;
    background-color: white ;
    color: #f56a6a ;
    font-weight: bold ;
    border-radius: 4px ;
    font-size: 0.7rem ;
    padding-left: 34px ;
    padding-right: 34px ;
}

.title {
    display: inline;
}

.pict img {
    width: 60%;
    height: 20%;
    border-radius: 5px;
    
  
}

.pict{
    display: flex;
    justify-content: center;
}

.socialm ul li {
    list-style: none;
    display: inline;
    padding: 0px;
    margin: 0%;
}

.paraph {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-gap: 1em;
}

.topic-2 {
    display: inline-block;
    padding-right: 4em;
    border-bottom: 0.5em;
    border-bottom: 2px solid #f56a6a ;
}



.p1{
    display: flex;
    align-items: center
}

.icons{
    margin-right: 1.5em;
    color: #f56a6a;
}

.icons i {
    font-size: 50px;
}

